:root {
  /* DungeonUI - Colors */
  --dui-color-alpha: #000;
  --dui-color-bravo: #1b1f22;
  --dui-color-charlie: #272c30;
  --dui-color-delta: #2f3539;
  --dui-color-echo: #3a4045;
  --dui-color-foxtrot: #4c535a;
  --dui-color-golf: #586067;
  --dui-color-hotel: #666d75;
  --dui-color-india: #828a92;
  --dui-color-juliett: #fff;
  --dui-color-orange: #f8ae2c;
  --dui-color-blue: #317dea;
  --dui-color-red: #f3194d;
  --dui-color-green: #23c361;
  --dui-color-purple: #b664ea;

  /* DungeonUI - Fonts */
  --dui-font-gameplay: "IBMPlexSansGameplay";
  --dui-font-label: "IBMPlexSerif";
  --dui-font-interface: "IBMPlexSans";

  /* DungeonUI - Aspect Ratios */
  --dui-aspect-square: 1/1;
  --dui-aspect-portrait: 2/3;
  --dui-aspect-card: 3/4;

  /* DungeonUI - Animation Durations */
  --dui-animation-duration-alpha: 50ms;
  --dui-animation-duration-bravo: 100ms;
  --dui-animation-duration-charlie: 150ms;
  --dui-animation-duration-delta: 200ms;

  /* DungeonUI - Sizes */
  --dui-size-alpha: 4px;
  --dui-size-bravo: 8px;
  --dui-size-charlie: 16px;
  --dui-size-delta: 24px;
  --dui-size-echo: 32px;
  --dui-size-foxtrot: 40px;
  --dui-size-golf: 48px;
  --dui-size-hotel: 56px;
  --dui-size-india: 64px;
  --dui-size-juliett: 72px;
  --dui-size-kilo: 80px;
  --dui-size-lima: 88px;
  --dui-size-mike: 96px;
  --dui-size-november: 104px;
  --dui-size-oscar: 112px;
  --dui-size-papa: 120px;
  --dui-size-quebec: 128px;

  /* DungeonUI - Font Sizes */
  --dui-font-size-alpha: 9px;
  --dui-font-size-bravo: 12px;
  --dui-font-size-charlie: 14px;
  --dui-font-size-delta: 16px;
  --dui-font-size-echo: 18px;
  --dui-font-size-foxtrot: 22px;
  --dui-font-size-golf: 33px;
  --dui-font-size-hotel: 50px;
}

.dui-icon {
  font-family: "Material Symbols";
  font-size: var(--dui-font-size-echo);
  font-variation-settings: "FILL" 1;
}

.dui-attention {
  box-shadow: 0 0 0 2px transparent;
}

.dui-attention:hover {
  box-shadow: 0 0 0 2px var(--dui-color-echo);
}

.dui-attention:focus {
  box-shadow: 0 0 0 2px var(--dui-color-orange);
}

button {
  cursor: pointer;
}
