:root {
  /* Colors HERE! */
  --dui-color-core-alpha: #000000;
  --dui-color-core-beta: #1a1e21;
  --dui-color-core-charlie: #30383d;
  --dui-color-core-delta: #96a2ad;
  --dui-color-core-echo: #ffffff;
  --dui-color-theme: #f8ae2c;
  --dui-color-theme-danger: #f3194d;
  --dui-color-theme-success: #22c55e;

  /* Fonts HERE! */
  --dui-font-gameplay: "IBMPlexSansGameplay";
  --dui-font-interface: "IBMPlexSans";
  --dui-font-title: "IBMPlexSerif";

  /* Font Sizes HERE! */
  --dui-font-size-tiny: 10px;
  --dui-font-size-small: 12px;
  --dui-font-size-medium: 14px;
  --dui-font-size-large: 16px;
  --dui-font-size-huge: 20px;
  --dui-font-size-giga: 24px;

  /* Icon Sizes HERE! */
  --dui-icon-size-medium: 16px;
  --dui-icon-size-large: 20px;
  --dui-icon-size-giga: 32px;

  /* Gaps HERE! */
  --dui-gap-tiny: 4px;
  --dui-gap-small: 8px;
  --dui-gap-medium: 16px;
  --dui-gap-large: 24px;
  --dui-gap-huge: 32px;
  --dui-gap-giga: 48px;

  /* Padding HERE! */
  --dui-padding-tiny: 4px;
  --dui-padding-small: 8px;
  --dui-padding-medium: 16px;
  --dui-padding-large: 24px;
  --dui-padding-huge: 32px;
  --dui-padding-giga: 48px;

  /* Border Radius HERE! */
  --dui-border-radius-tiny: 4px;
  --dui-border-radius-small: 6px;
  --dui-border-radius-medium: 8px;
  --dui-border-radius-large: 12px;
  --dui-border-radius-huge: 16px;
  --dui-border-radius-giga: 24px;
  --dui-border-radius-full: 50%;

  /* Sizes HERE! */
  --dui-size-tiny: 16px;
  --dui-size-small: 24px;
  --dui-size-medium: 32px;
  --dui-size-large: 48px;
  --dui-size-huge: 64px;
  --dui-size-giga: 96px;

  /* Animation Durations HERE! */
  --dui-animation-duration-slow: 500ms;
  --dui-animation-duration-medium: 250ms;
  --dui-animation-duration-fast: 150ms;

  /* Animation Easing HERE! */
  --dui-animation-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --dui-animation-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --dui-animation-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --dui-animation-ease-linear: cubic-bezier(0, 0, 1, 1);

  /* Aspect Ratios */
  --dui-aspect-ratio-square: 1 / 1;
  --dui-aspect-ratio-portrait: 2 / 3;
  --dui-aspect-ratio-card: 3 / 4;
}

.dui-icon {
  font-family: "Material Symbols";
  font-weight: normal;
  font-style: normal;
  font-size: var(--dui-icon-size-medium);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "FILL" 1;
}

.dui-attention {
  box-shadow: 0 0 0 2px transparent;
}

.dui-attention:hover {
  box-shadow: 0 0 0 2px var(--dui-color-core-delta);
}

.dui-attention:focus {
  box-shadow: 0 0 0 2px var(--dui-color-theme);
}
